
.decor {
    background: url(../images/content/decor/decor.png) no-repeat center;
    background-size: cover;
    height: 616px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;

    &::after{
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;

        background-color: rgba(255, 255, 255, .3);
    }

    &__content {
        max-width: 525px;
    }

    &__title {
        font-size: 60px;
        font-weight: 700;
        color: #363838;
        line-height: 133.333333%;
        /* 80/60 */

        &::after {
            content: '';
            display: block;
            background-color: #363838;
            width: 200px;
            height: 1px;

            margin: 22px 0;
        }
    }

    &__text{

    }
}

@media (max-width: 850px) {
    .decor__title{
        font-size: 40px;
    }
}

@media (max-width: 520px) {
    .decor__content{
        text-align: center;
    }

    .decor__title{
        font-size: 25px;
    }

    .decor__text{
        font-size: 14px;
    }

    .decor{
        height: 420px;
    }
}
